---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="KTEQ History">
  <section>
    <h1>History of KTEQ - This page is under construction.</h1>
    <p>KTEQ-FM has been broadcasting since 1971 and has long served as a platform for alternative music, student expression, and technical innovation. From its early days on AM carrier current to FM, then online streaming, and now a full 500-watt FM signal, KTEQ has always been run by passionate students and volunteers.</p>
    <p>In October 2025, KTEQ will be inducted into the South Dakota Rock and Rollers Hall of Fame—recognizing decades of cultural and technical contributions to the state’s soundscape.</p>
  </section>
</BaseLayout>